# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
efficientnet-pytorch
geos
geotiff
markdown
matplotlib
numpy
opencv-python-headless
pandas
Pillow
pip
pretrainedmodels
rasterio
scipy
segmentation-models-pytorch
streamlit
timm
torch
torchmetrics
torchvision
tqdm
xarray
xarray-spatial